:root {
  font-family: Atkinson Hyperlegible, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  text-align: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

span {
  font-size: clamp(1.8rem, 5vw, 5rem);
  font-weight: 400;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.chroma-text {
  background-image: linear-gradient(90deg,
      #000000 0,
      #000000 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      transparent 66.67%,
      transparent);
  background-size: 300% 100%;
  background-position: 100% 0;
  will-change: background-position;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}

.emoji-part {
  background-image: linear-gradient(90deg,
      transparent 0,
      transparent 0,
      /* #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%, */
      transparent 66.67%,
      transparent);
  background-size: 300% 100%;
  background-position: 100% 0;
  will-change: background-position;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.chroma-text-animate {
  animation: chroma-sweep 0.9s ease-in-out 0.1s forwards;
  filter: blur(1px);
}

@keyframes chroma-sweep {
  0% {
    background-position: 100% 0;
    filter: blur(1px);
  }

  to {
    background-position: 0 0;
    filter: blur(0);
    color: inherit;
  }
}

.chroma-text-out {
  background-image: linear-gradient(90deg,
      transparent 0,
      transparent 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #000000 66.67%,
      #000000),
    linear-gradient(270deg,
      transparent 0,
      transparent 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #000000 66.67%,
      #000000);
  background-size: 300% 100%, 300% 100%;
  background-position: 100% 0, 100% 0;
  background-blend-mode: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -text-fill-color: transparent;
  color: transparent;
  will-change: background-position;
}

.chroma-text-out-animate {
  animation: chroma-expand-bidirectional 0.85s ease-in-out 0.6s forwards;
}